@import "tailwindcss";

@theme {
  --spacing: 0.75rem; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Red Hat Display', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}